template#user-card
  li(id='').users-item
    img(src="./images/user-img-mock.svg", alt="").user-image
    h2.user-name Suzata Spilberg
    p.user-email suzitusi@gmail.com
    a(href="#").user-button View
    //- a(href="/user-details.html").user-button View