extends ../layouts/default.pug

block variables
  - var pageStylesheet = "/styles/todo.css";
  - var pageScript = "/scripts/todo.js";

block content
  include ../components/header/header
  main.main
    h1.page-title Список задач
    section.todo
      form.todo-add-item
        input(type="text", placeholder="Новая задача...", name="todoInput", required).todo-add-input
        button(type="submit").todo-add-button +
      ul.todo-list 
      
  include ../components/footer/footer
  include ../components/todo-task-tpl/todo-task-tpl