template#todo-task
  li.todo-item
    label.todo-item-label
      input(type="checkbox").todo-item-input
      span.todo-item-checkbox
      span.todo-item-text Поставить задачу «Построить дом из песка»
    button.todo-item-button
      img(src="./images/cross.svg", alt="Удалить задачу").todo-del-btn